tqdm
# eliminate tensorboard warnings
numpy==1.16.4
torch==1.2.0
torchvision==0.4.0
opencv-python==3.4.5.20
psutil
pandas
sklearn
matplotlib


# tensorboard
tensorboard==1.14.0
future

# psample
pygmo

